.hero{
    height: 100vh;
    background: url('../images/slider1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 500px;
    .content{
        padding-top: 20%;
    }
    .btn{
        background: rgb(66, 128, 66);
        color: white;
        font-weight: 600;
        padding: 14px 16px;
    }
}

